<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/css/bootstrap.css" />
    <link rel="stylesheet" href="~/Content/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/css/buttons.bootstrap4.min.css">
    <link rel="stylesheet" href="~/Content/css/MultiLanguage.css" />
    <script type="text/javascript" src="~/Content/js/solid.js"></script>
    <script type="text/javascript" src="~/Content/js/fontawesome.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery-3.3.1.slim.js"></script>
    <script type="text/javascript" src="~/Content/js/popper.js"></script>
    <script type="text/javascript" src="~/Content/js/bootstrap.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.js"></script>
    <script type="text/javascript" src="~/Content/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables.responsive.min.js"></script>
    <script type="text/javascript" src="~/Content/js/responsive.bootstrap4.min.js"></script>
    <script type="text/javascript" src="~/Content/js/dataTables.buttons.min.js"></script>
    <script type="text/javascript" src="~/Content/js/Validation.js"></script>
</head>
<body>
    <div class="wrapper">
        <nav id="sidebar">
            <div class="sidebar-header">
                <h4>
                    <a href="@Url.Action("Index", "Home")">
                        Multi Language
                    </a>
                </h4>
            </div>
            <ul class="list-unstyled">
                <li>
                    <a href="@Url.Action("AddLanguage", "Home")">Add Language</a>
                </li>
                <li>
                    <a href="@Url.Action("AddResource", "Home")">Add Resources</a>
                </li>
            </ul>
        </nav>

        <!-- Page Content  -->
        <div id="content">
            @RenderBody()
        </div>
    </div>
    <div class="navbar navbar-inverse navbar-fixed-top" style="display:none">
        <div class="container">
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Home")</li>
                    <li>@Html.ActionLink("Add Language", "AddLanguage", "Home")</li>
                    <li>@Html.ActionLink("Add Resources", "AddResource", "Home")</li>
                </ul>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    $(document).ready(function () {
        $('#sidebarCollapse').on('click', function () {
            $('#sidebar').toggleClass('active');
        });
    });
</script>
